<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<form action="/login" method="post">
    <input type="email" id="email" name="email" required>
    <input type="password" id="password" name="password" required>
    <button type="submit">Iniciar sesión</button>
</form>

</body>
</html>
